
.parser-div{
    position: absolute;
    height:100%;
    width:20%; 
}
/* .submit-btn{
    align-self: flex-end;
    position: absolute;
    left: 13vw;
    bottom: 2vh;
} */


.markEvalError {
    font-size: 1.2em;
    font-weight: bolder;
    color: red;
}

.markTextError {
    display: inline-block;
    position: relative;
}

.markTextError:before {
    content: "~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~";
    font-size: 0.8em;
    font-weight: bolder;
    font-family: Times New Roman, Serif;
    color: red;
    width: 100%;
    position: absolute;
    top: 6px;
    overflow: hidden;
}

.markDiagramsTextHover {
    background-color: lightgreen;
    font-weight: bolder;
}

.markDiagramsUsageTextHover {
    background-color: yellow;
    font-weight: bolder;
}

.markSelectedDiagramsUsageTextHover {
    background-color: yellow;
    font-weight: bolder;
    text-decoration: underline;
}